<template>
  <div id="app">
    <v-container>
      <v-row no-gutters><v-col align-self="center">base64</v-col></v-row>
      <v-row no-gutters>
        <v-col>
          <v-textarea
            label="Input"
            placeholder="Input"
            v-on:input="onInputChange"
            v-model="base64Input"
            style="width: 100%; margin-top: 15px; height: 150px; border-radius: 12px"
          ></v-textarea>
        </v-col>
        <v-col>
          <v-textarea
            label="Output"
            placeholder="Output"
            readonly
            v-model="base64Output"
            style="width: 100%; margin-top: 15px; height: 150px; border-radius: 12px"
          ></v-textarea>
        </v-col>
      </v-row>
      <v-btn-toggle
        v-model="tabsValue"
        rounded="0"
        mandatory
        color="deep-blue-accent-3"
        v-on:click="onTabChange"
        group
      >
        <v-btn value="encode">encode</v-btn>
        <v-btn value="decode">decode</v-btn>
      </v-btn-toggle>
    </v-container>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from 'vue'

export default defineComponent({
  setup() {
    onMounted(() => {
      document.title = 'base64'
    })

    return {}
  },
  data() {
    return {
      base64Input: '',
      base64Output: '',
      tabsValue: 'encode'
    }
  },
  methods: {
    async onTabChange() {
      console.log(this.tabsValue)
      let data = {
        input: this.base64Input
      }
      this.base64Output = await this.convert(data)
    },
    async onInputChange() {
      let data = {
        input: this.base64Input
      }
      this.base64Output = await this.convert(data)
    },

    async convert(data: { input: string }): Promise<string> {
      let url = import.meta.env.VITE_ROOT_API
      url += this.tabsValue === 'encode' ? 'encode' : 'decode'

      const response = await fetch(url, {
        body: JSON.stringify(data),
        method: 'POST',
        mode: 'cors',
        headers: {
          'Content-Type': 'application/json'
        }
      })

      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`)
      }

      const result = await response.text()
      return result
    }
  }
})
</script>
